<div id="bv-brc-home">
  <div class="verification_message home-banner">
      <p>
          <strong>Your email has not been verified. Click here to visit your profile and update your email address and/or resend the verification message.</strong>
      </p>
  </div>

  <div class="container">
    <div class="grid grid-2">
    </div>
  </div>

        <!-- Main Content -->
        <section class="main-content">
          <h1>BACTERIAL AND VIRAL BIOINFORMATICS RESOURCE CENTER</h1>

          <p>
            Welcome to the Bacterial and Viral Bioinformatics Resource Center (BV-BRC), an information system designed to support research on bacterial and viral infectious diseases. The BV-BRC combines the data and tools from the Legacy BRC resources: <a href="https://legacy.patricbrc.org" class="navigationLinkOut" style="font-weight: bold;">PATRIC</a>, the bacterial BRC, and <a href="https://www.fludb.org" class="navigationLinkOut" style="font-weight: bold;">IRD</a> and <a href="https://viprbrc.org" class="navigationLinkOut" style="font-weight: bold;">ViPR</a>, the viral BRCs. If you are transitioning from PATRIC or IRD/ViPR, please refer to the <a href="https://www.bv-brc.org/docs/quick_start/index.html" class="navigationLinkOut" style="font-weight: bold;">Quick Start Guide</a> to learn how to get started with BV-BRC. Please <a href="mailto:help@bv-brc.org" style="font-weight: bold;">contact us</a> if you have any questions or issues.
          </p>

          <!-- <div class="search" style="display: flex; align-items: center; justify-content: space-between;">
            <h3>SEARCH</h3>
            <div class="global-search" style="flex-grow: 5;">
                <div style="padding: 6px 0px 2px 2px; flex-grow: 1">
                    <input style="width:100%;font-size:1em;" class="showOnLoad dijitHidden" data-dojo-type="p3/widget/GlobalSearch" />
                </div>
            </div>
          </div>

          <div class="browse" style="display: flex; align-items: center; justify-content: space-between;">
            <h3>BROWSE</h3>
            <a href="/view/Bacteria/2" class="btn btn-blue" style="width: 125px;">BACTERIA</a>
            <a href="/view/Taxonomy/2157" class="btn btn-blue" style="width: 125px;">ARCHAEA</a>
            <a href="/view/Virus/10239" class="btn btn-blue" style="width: 125px;">VIRUSES</a>
            <a href="/view/Host/?eq(taxon_lineage_ids,2759)#view_tab=genomes" class="btn btn-blue" style="width: 150px;">EUKARYOTIC HOSTS</a>
          </div>
        </section> -->



</div>

<style>
  #p3header-search {
      display: none;
  }
</style>